@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 80px;
  }
}

a {
  text-decoration: none;
  display: block;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input:focus,
input:hover,
textarea:focus {
  outline: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 47px;
  padding-bottom: 47px;
}

/*  Кнопка   */
.button {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  border: none;
  border-radius: 4px;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus, .button:active {
  background: #188ce8;
  outline: none;
}

/*   Заголовок 1-го уровня      */
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  h1 {
    font-size: 26px;
    line-height: 1.62;
  }
}

/*   Заголовок 2-го уровня      */
h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

/*   Заголовок 3-го уровня      */
h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

/* Логотип Header  */
.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: max-content;
}

.logo span {
  color: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: #212121;
}

.logo:hover span, .logo:focus span {
  color: #2196f3;
}

/* Sosial links*/
.social-list {
  display: flex;
  justify-content: space-between;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
}

.social-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item-link:hover, .social-list-item-link:focus {
  background-color: #2196f3;
}

.social-list-item-link:hover .social-list-item-link-svg, .social-list-item-link:focus .social-list-item-link-svg {
  fill: #ffffff;
}

.social-list-item-link-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*  Модальное окно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.form-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 40px;
}

@media screen and (max-width: 1199px) {
  .form-modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form-modal {
    width: 528px;
  }
}

.form-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  fill: #000000;
}

.form-close-button:hover .form-modal-icon,
.form-close-button:focus .form-modal-icon {
  fill: #2196f3;
}

.form-modal-icon {
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-head {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.form-modal-field {
  position: relative;
  margin-bottom: 28px;
}

.form-modal-field .form-modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-input:focus {
  border-color: #2196f3;
}

.form-modal-input:focus ~ .form-modal-icon {
  fill: #2196f3;
}

.form-modal-input:focus + .form-modal-label,
.form-modal-input:not(:placeholder-shown) + .form-modal-label {
  transform: scale(0.86) translate(-30px, -44px);
  color: #2196f3;
}

.form-modal-label {
  position: absolute;
  top: 50%;
  left: 42px;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: #757575;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal-comment {
  display: flex;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  resize: none;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox:checked + .form-modal-checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-size: contain;
  background-image: url("../images/check.svg");
  background-origin: border-box;
}

.form-modal-checkbox-label {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (max-width: 1199px) {
  .form-modal-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .form-modal-checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-modal-checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 8px;
}

.form-modal-link {
  display: inline;
  color: #2196f3;
  text-decoration: underline;
  margin-left: 4px;
}

/* Header*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 100;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  header {
    height: 60px;
  }
}

@media screen and (min-width: 768px) {
  header {
    height: 80px;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button .icon-menu {
  display: block;
}

.menu-button:focus, .menu-button:hover {
  outline: none;
  fill: #2196f3;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

/*   Меню навигации   */
.menu-container {
  display: flex;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
  }
  .menu-container.is-open {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    min-width: 516px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .menu-container {
    min-width: 932px;
    justify-content: space-between;
  }
}

/* Site nav */
@media screen and (max-width: 767px) {
  .site-nav {
    margin-bottom: 60px;
  }
  .site-nav .item:not(:last-child) {
    margin-bottom: 40px;
  }
  .site-nav .link {
    margin-right: auto;
    margin-left: auto;
  }
}

.site-nav .link {
  display: block;
  width: max-content;
  color: #212121;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link.current::after {
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  margin-top: 8px;
  background-color: #2196f3;
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .site-nav .link.current::after {
    margin-top: 28px;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: flex;
    min-width: 294px;
    align-items: top;
    padding-top: 32px;
    margin-bottom: 0;
    justify-content: space-between;
  }
}

/* Контакты nav */
.contacts-nav .item {
  display: block;
  width: max-content;
}

@media screen and (max-width: 767px) {
  .contacts-nav .item {
    margin-right: auto;
    margin-left: auto;
  }
  .contacts-nav .item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav .item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts-nav {
    display: flex;
    flex-wrap: wrap;
    max-width: 138px;
    align-content: center;
    font-size: 12px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-nav {
    display: flex;
    min-width: 333px;
    justify-content: space-between;
    align-items: top;
    padding-top: 32px;
  }
}

.address-icon {
  margin-right: 10px;
  width: 15px;
  height: 20px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-icon {
    width: 13px;
    height: 17px;
  }
}

.contacts-nav-link {
  font-style: normal;
  color: #757575;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-nav-link:hover, .contacts-nav-link:focus {
  color: #2196f3;
}

.contacts-nav-link:hover .address-icon, .contacts-nav-link:focus .address-icon {
  fill: #2196f3;
}

/*   Cекция HERO  */
.overlay {
  max-width: 100%;
  height: 400px;
  padding-top: 118px;
  margin-left: auto;
  margin-right: auto;
  outline: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border: 1px solid #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero-mobile.jpg");
}

@media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero-mobile@2x.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero-tablet.jpg");
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (max-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero-tablet@2x.jpg");
  }
}

@media screen and (min-width: 769px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero-desktop.jpg");
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url("../images/hero-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
  }
}

/* Секция Особенности  */
.features h2 {
  display: none;
}

.features h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.features p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.features .list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: -15px;
}

.features .item {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .features .item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features .item {
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .features .item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-svg {
  width: 70px;
  height: 70px;
}

/* Секция Деятельность   */
@media screen and (max-width: 1200px) {
  .activities {
    display: none;
  }
}

.activities h3 {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0%;
  left: 0%;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.activities .list {
  display: flex;
  align-items: center;
}

.activities .item:not(:last-child) {
  margin-right: 30px;
}

.activities-image {
  position: relative;
}

/* Секция Команда */
.team-background {
  background-color: #f5f4fa;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.team p {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-bottom: 16px;
}

.team .list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: -15px;
}

.team .item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 15px;
  padding-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .team .item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team .item {
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team .item {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.team .item .photo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.team .name {
  font-weight: 500;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

/*   Наши клиенты   */
.clients .list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: -15px;
}

.clients-item {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .clients-item {
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    width: calc((100% - 12 * 15px) / 6);
  }
}

.clients-link-svg {
  max-height: 50px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-size: contain;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border-color: #2196f3;
}

.clients-link:hover .clients-link-svg, .clients-link:focus .clients-link-svg {
  fill: #2196f3;
}

/*   Футер   */
footer {
  background-color: #2f303a;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
  /* Футер Логотип */
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    display: block;
  }
}

.footer .logo {
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .logo span {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .logo:hover, .footer .logo:focus {
  color: #ffffff;
}

.footer .logo:hover span, .footer .logo:focus span {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .footer div:not(:last-child) {
    margin-bottom: 60px;
  }
  .footer .logo,
  .contacts-footer .link,
  .footer .watchword {
    display: block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .form {
    display: block;
  }
}

/* Футер Контакты */
.contacts-footer .item {
  margin-top: 9px;
}

@media screen and (max-width: 767px) {
  .contacts-footer .item {
    margin-top: 8px;
  }
}

.contacts-footer .link {
  color: #ffffff;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer .link:hover, .contacts-footer .link:focus {
  color: #2196f3;
}

.contacts-footer .link.gray {
  opacity: 0.6;
}

/* Футер Форма подписка  */
@media screen and (min-width: 1200px) {
  .footer .form {
    display: flex;
  }
}

.footer .watchword {
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.icon-send-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.email-input {
  display: flex;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .email-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .email-input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

/*  Футер  Social Links  */
.footer .social-list-item-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .social-list-item-link:hover, .footer .social-list-item-link:focus {
  background-color: #2196f3;
}

.footer .social-list-item-link-svg {
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */