/* Секция Особенности  */

.features h2 {
  display: none;
}

.features h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.features p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.features .list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  margin: -15px;
}

.features .item {
  margin: 15px;

  @media screen and (max-width: $tablet1) {
    width: 100%;
  }

  @media screen and (min-width: $tablet) and (max-width: $desktop1) {
    width: calc((100% - 4 * 15px) / 2);
  }

  @media screen and (min-width: $desktop) {
    width: calc((100% - 8 * 15px) / 4);
  }
}

.features-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  height: 120px;
  background-color: $works-button-color;
  border-radius: 4px;
}

.features-svg {
  width: 70px;
  height: 70px;
}
