/*   Cекция HERO  */

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  outline: 0;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/headerimg.jpg");
  border: 1px solid $title-text-color;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
